<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Tap to open</string>
		<key>isDone</key>
		<false/>
		<key>daysCheck</key>
		<array>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
		</array>
		<key>order</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Swipe left to delete</string>
		<key>isDone</key>
		<false/>
		<key>daysCheck</key>
		<array>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
			<false/>
		</array>
		<key>order</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Swipe right to mark done</string>
		<key>isDone</key>
		<true/>
		<key>daysCheck</key>
		<array>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
			<true/>
		</array>
		<key>order</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
